@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;
    --primary: 351 100% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 351 100% 42%;
    --muted: 0 0% 97%;
    --muted-foreground: 0 0% 45%;
    --accent: 0 0% 9%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 351 100% 42%;
    --radius: 0.5rem;
    --chart-1: 351 100% 42%;
    --chart-2: 0 0% 9%;
    --chart-3: 0 0% 45%;
    --chart-4: 0 0% 70%;
    --chart-5: 0 0% 90%;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 100%;
    --card: 0 0% 11%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 11%;
    --popover-foreground: 0 0% 100%;
    --primary: 351 100% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 351 100% 52%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 0 0% 25%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 351 100% 52%;
    --radius: 0.5rem;
    --chart-1: 351 100% 52%;
    --chart-2: 0 0% 100%;
    --chart-3: 0 0% 70%;
    --chart-4: 0 0% 45%;
    --chart-5: 0 0% 25%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
